*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  height: 800px;
  padding-left: 30px;
  padding-right: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  gap: 32px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  position: relative;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__details {
  width: 395px;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 710px;
  height: 385px;
  margin-bottom: 20px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: start;
  text-align: start;
  flex-shrink: 0;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: end;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 194px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-family: "oswald", "sans-serif";
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.content__accent {
  color: grey;
}

.cards-list-item-template {
  overflow: hidden;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.content__card-link:active {
  background-color: grey;
}

.content__card-link:hover {
  text-decoration: underline;
  overflow: auto;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: grey;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__video-card-title {
  font-family: "oswald", "sans-serif";
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "sans-serif";
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__fieldset {
  outline: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;
  cursor: pointer;
}

.search-form__textfield {
  background-color: #1b1919;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  border-right: none;
  border-left: none;
  color: #fff;
  appearance: none;
  width: 225px;
  height: 27px;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  border: 2px solid white;
  border-radius: 4px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  outline: none;
}

.search-form__checkbox-list {
  outline: none;
}

.search-form__pseudo-checkbox {
  height: 18px;
  width: 18px;
  outline: 1px solid white;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
}

.search-form__checkbox:checked + ::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.button {
  outline: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-family: "Fira Sans Condensed", "sans-serif";
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 390px;
  height: 34px;
  margin: 10px 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: grey;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}
